In [18]:
#name
name = "JYOTHIKA"
index = 0

while index < len(name):
    print(name[index])
    index += 1

J
Y
O
T
H
I
K
A

In [19]:
#num multiplication
n=123456
res=1
while n:
    ld=n%10
    res*=ld
    n=n//10
print(res)

720

In [22]:
#difference of digits
n=123456
res=0
while n:
    ld=n%10
    res-=ld
    n=n//10
print(res)

-21

In [23]:
#sum of odd digits
n=12345678
res=0
while n:
    ld=n%10
    if ld%2!=0:
        res+=ld
    n=n//10
print(res)

16

In [25]:
# factorial
m=5
n=1
res=1
while m>n:
    res*=m
    m-=1
print(res)

120

In [9]:
#palindrome
n=121
temp=n
rev=0
while n:
    ld=n%10
    rev=(rev*10)+ld
    n=n//10
print(rev)
if rev==temp:
    print('palindrome')
else:
    print('not')

121
palindrome

In [7]:
#fibonacci
a=0
b=1
print(a)
print(b)
n=5
while n:
    c=a+b
    print(c)
    a,b=b,c
    n-=1

0
1
1
2
3
5
8

In [4]:
#factorial from 1 to 10
a=1
b=10
while a<=b:
    x=1
    y=a
    fact=1
    while x<=y:
        fact*=x
        x+=1
    print(a,"->",fact)
    a+=1

1 -> 1
2 -> 2
3 -> 6
4 -> 24
5 -> 120
6 -> 720
7 -> 5040
8 -> 40320
9 -> 362880
10 -> 3628800

In [33]:
#strong number
n=145
temp=n
sum=0
while n:
    ld=n%10
    i=1
    prod=1
    while i<=ld:
        prod*=i
        i+=1
    sum+=prod
    n=n//10
print(sum)
if sum==temp:
    print('strong number')

145
strong number

In [23]:
m=1
n=100
while m<=n:
    count=0
    new=n
    x=1
    while x<=new:
        if new%x==0:
            count+=1
        x+=1
    if count==2:
        print(new)
    m+=1

In [37]:
m=1
n=10
while m<n:
    m+=1
    print(m)

2
3
4
5
6
7
8
9
10

In [ ]:
#series of strong numbers
n=145
sum=0
while n:
    ld=n%10
    i=1
    prod=1
    while i<=ld:
        prod*=i
        i+=1
        sum+=prod
        n=n//10
    print(sum)

In [23]:
#spy
n=1124
sum=0
prod=1
while n:
    ld=n%10
    sum+=ld
    prod*=ld
    n=n//10

if sum==prod:
        print('spy')
else:
        print('not')

spy

In [24]:
#series of spy number
start=1
end=2000
while start<=end:
    sum=0
    prod=1
    n=start
    temp=n
    while n:
        ld=n%10
        sum+=ld
        prod*=ld
        n=n//10
    if sum==prod:
        print(temp)
    start+=1

1
2
3
4
5
6
7
8
9
22
123
132
213
231
312
321
1124
1142
1214
1241
1412
1421

In [29]:
#palindrome
n=143
rev=0
while n:
    ld=n%10
    rev=(rev*10)+ld
    n=n//10
print(rev)

341

In [56]:
#series of palindrome
start=1
end=200
while start<=end:
    n=start
    temp=n
    rev=0
    while n:
        ld=n%10
        rev=(rev*10)+ld
        n=n//10
    if rev==temp:
        print(rev)
    start+=1

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191

In [ ]:
#extract middle digit
n=123456

In [58]:
#series of prime numbers
start=1
end=100
while start<=end:
    n=start
    count=0
    i=1
    while i<=n:
        if n%i==0:
            count+=1
        i+=1
    if count==2:
        print(n)
    start+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [8]:
# collection programs
n='JYOTHIKA'
i=0
while i<len(n):
    print(n[i])
    i+=1

J
Y
O
T
H
I
K
A

In [13]:
#identify uppercase
ch='JyothikA'
i=0
while i<len(ch):
    if 'A'<=ch[i]<='Z':
        print(ch[i])
    i+=1

J
A

In [14]:
# special character or not
ch='Jyothi@12$'
i=0
while i<len(ch):
    if not('A'<=ch[i]<='Z' or 'a'<=ch[i]<='z' or '0'<=ch[i]<='9'):
        print(ch[i])
    i+=1

@
$

In [15]:
#identify lowercase
ch='JyothikA'
i=0
while i<len(ch):
    if 'a'<=ch[i]<='z':
        print(ch[i])
    i+=1

y
o
t
h
i
k

In [18]:
# reverse string
ch='jyothika'
i=-1
while i>=-(len(ch)):
    print(ch[i])
    i-=1

a
k
i
h
t
o
y
j

In [19]:
#along with indexing values
ch='jyothika'
i=-1
while i>=-(len(ch)):
    print(ch[i],i)
    i-=1

a -1
k -2
i -3
h -4
t -5
o -6
y -7
j -8

In [20]:
#positive and negative indexing values
ch='jyothika'
i=0
ni=-len(ch)
while i<len(ch):
    print(ch[i],i,ni)
    i+=1
    ni+=1

j 0 -8
y 1 -7
o 2 -6
t 3 -5
h 4 -4
i 5 -3
k 6 -2
a 7 -1

In [5]:
#sum of the digits
n=123456
while n>9:
    sum=0
    while n:
        ld=n%10
        sum+=ld
        n=n//10
    print(sum)
    n=sum
print(sum)

21
3
3

In [11]:
n=146578
while n>9:
    sum=0
    while n:
        ld=n%10
        sum+=ld
        n=n//10
    print(sum)
    n=sum
print(n)

31
4
4

In [13]:
n=123456
while n>9:
    sum=0
    while n:
       ld=n%10
       sum+=ld
       n=n//10
    print(sum)
    n=sum
print(sum)

21
3
3

In [ ]:
m='hello world @123'

In [22]:
#print upper case
ch='JyothiKA'
index=0
res=''
while index<len(ch):
    if 'A'<=ch[index]<='Z':
        res+=ch[index]
    index+=1
print(res)

JKA

In [14]:
#middle digit in a given number
n=12345678
count=0
temp=n
while n:
    count+=1
    n=n//10
print(count)
while count:
        temp=temp//10
        count-=1
        ld=temp//10
print(ld)

8
0